// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


// ========================= NAV_BAR ========================= //
.bespoke-parent 
	background : url('../images/block.jpg')

.bespoke-slide
	background : transparent

.glyphicon
	letter-spacing : 12px
	margin-top : 5px
	text-shadow : 1px 3px 2px navy

.glyphiconY
	text-shadow : none

.yellow
	color : #f7fb5e

.star
	color : white

// ========================= SLIDE #1 ========================= //
.jdl
	color : white
	font-family : gabriola
	font-size : 45pt
	text-shadow: 2px 2px 4px red
	margin-top : 100px
	margin-bottom : 10px

.glyphiconX
	text-shadow : -2px 2px 3px black 
	font-size : 18pt
	color : white

.jdl2
	color : white
	text-shadow : 3px 3px 3px navy
	text-align : center
	font-size : 17pt
	font-family : Arial
	
.logo
	margin : 40px
	width : 190px
	height : @width
	border-radius : 50%
	opacity:0.5
	border : 1px solid navy

	transition: 0.5s all

.logo:hover
	border : 2px solid white
	border-top : 5px solid navy
	border-top-style : dotted
	border-bottom : 5px solid navy
	border-bottom-style : dotted
	transform: rotate(360deg) scale(1.7)
	box-shadow :  0 0px 6px rgba(0,0,0,.5)
	opacity : 1

// ========================= SLIDE #2 ========================= //
.sideright
	text-align : right
	margin-top : -340px
	margin-right : -250px
	color : #446ee4
	font-family : gabriola
	font-size : 38pt
	letter-spacing : 2px
	text-shadow: 1px 0px #ccc, 0px 1px #ccc, 2px 1px #ddd, 1px 2px #bbb, 3px 2px #ddd, 
		         2px 3px #bbb, 4px 3px #ddd, 3px 4px #bbb, 5px 4px #ddd, 4px 5px #bbb, 
		         6px 5px #ddd, 5px 6px #bbb, 6px 7px #ddd, 7px 6px #bbb, 8px 7px #ddd, 
		         7px 8px blue

.tim
	color : #e5ede0
	text-shadow : -2px -3px 7px blue
	font-family : monotype corsiva
	font-size : 20pt

.edu
	color : #f7fb5e
	text-shadow : -1px -1px 2px black
	font-weight : bold
	font-family : comic sans ms
	font-size : 12pt
	margin-top : 20px

// ========================= SLIDE #3 ========================= //
.jdl3
	background-color : rgba(255,255,255,0.2)
	border-radius : 15px 0px
	color : cyan
	font-family : Colonna MT
	font-weight : bold
	font-size : 25pt
	box-shadow : -1px 1px 5px cyan
	padding : 5px

.par1
	width : 150% 
	background-color : rgba(255,255,255,0.6)
	border-radius : 15px 0px
	color : black
	padding : 5px
	font-size : 16pt
	text-align : justify
	box-shadow : 2px 2px 5px black

// ========================= SLIDE #4 dan #5 ========================= //
.par_mar
	margin-top : 30px

.layout14
	transition: 0.5s all

.layout14:hover
	transform: scale(1.2)

// ========================= SLIDE #6 ========================= //
.slide6
	background-color : rgba(255,255,255,0.2)
	border-radius : 15px 0px
	color : cyan
	font-family : Colonna MT
	font-weight : bold
	font-size : 25pt
	box-shadow : -1px 1px 5px cyan
	padding : 5px
	width : 110%

.poin 
	width : 150%
	height : @width
	text-align : justify
	background-color : rgba(255,255,255,0.7)
	border-radius : 15px 0px
	box-shadow : -1px 1px 5px cyan
	padding : 8px

.icon
	color : red
	font-size : 18pt
	font-weight : bold
	text-shadow : none

.coba
	font-size : 17pt
	color : black

// ========================= SLIDE #7 ========================= //
.jdl4
	background-color : rgba(255,255,255,0.2)
	border-radius : 15px 0px
	color : cyan
	font-family : Colonna MT
	font-weight : bold
	font-size : 25pt
	box-shadow : -1px 1px 5px cyan
	padding : 5px

.copterX
	background-color : transparent
	text-align : justify
	width : 130%
	padding : 15px

.bagian 
	color : yellow
	font-weight : bold
	font-size : 20pt

.uavX
	text-align : justify
	color : white
	text-shadow : -1px -1px 2px red
	font-size : 16pt

.gambar
	margin : 30px
	width : 150px
	height : @width
	border-radius : 50%
	opacity:0.8
	border : 5px solid #ffe

	transition: 0.5s all

.gambar:hover
	border : 2px solid white
	transform: rotate(360deg) scale(1.6)
	box-shadow :  0 0px 6px rgba(0,0,0,.5)
	opacity : 1