// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


// ========================= NAV_BAR ========================= //
.bespoke-parent 
	background : url('../images/block.jpg')

.bespoke-slide
	background : transparent

.glyphicon
	letter-spacing : 12px
	margin-top : 5px
	text-shadow : 1px 3px 2px navy

.glyphiconY
	text-shadow : none

.yellow
	color : #f7fb5e

.star
	color : white

// ========================= SLIDE #1 ========================= //
.jdl
	color : white
	font-family : gabriola
	font-size : 45pt
	text-shadow: 2px 2px 4px #00FFFF
	margin-top : 100px
	margin-bottom : 10px

.glyphiconX
	text-shadow : -2px 2px 3px black 
	font-size : 18pt
	color : white

.jdl2
	color : white
	text-shadow : 3px 3px 3px navy
	text-align : center
	font-size : 17pt
	font-family : Arial
	
.logo
	margin : 40px
	width : 190px
	height : @width
	border-radius : 50%
	opacity:0.5
	border : 1px solid navy

	transition: 0.5s all

.logo:hover
	border : 2px solid white
	border-top : 5px solid navy
	border-top-style : dotted
	border-bottom : 5px solid navy
	border-bottom-style : dotted
	transform: rotate(360deg) scale(1.7)
	box-shadow :  0 0px 6px rgba(0,0,0,.5)
	opacity : 1