doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Helicam of Technology

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='build/etalage.css')

  body
  .container
    .row
      .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            span.glyphicon.glyphicon-star.star 
            span.glyphicon.glyphicon-star.star
            span.glyphicon.glyphicon-star.star
            span.glyphicon.glyphicon-star.star 
             
            a.navbar-brand(href='#') Rider
              span.yellow TEAM

          .navbar-collapse.collapse
            ul.navbar-right.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.glyphicon.glyphicon-check.glyphiconY
                  |  File Presentasi
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') #
                  li
                    a(href='#') #
                  li
                    a(href='#') #
                  li
                    a(href='#') #
                  li
                    a(href='#') #
                  li
                    a(href='#') #
                  li
                    a(href='#') #

      article
        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2.jdl HELICAM of  TECHNOLOGY DRONE

          div
            span.glyphicon.glyphicon-facetime-video.glyphiconX 

          img.logo(src='images/drone.png')

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          .container
            .col.lg-8
              .row
                ul#etalage
                  li
                    img.etalage_thumb_image(src='./images/master.png')
                    img.etalage_source_image(src='./images/master.png') 
                  li
                    img.etalage_thumb_image(src='./images/admin.png')
                    img.etalage_source_image(src='./images/admin.png') 
                  li
                    img.etalage_thumb_image(src='./images/admin2.png')
                    img.etalage_source_image(src='./images/admin2.png') 
                  li
                    img.etalage_thumb_image(src='./images/hacker.png')
                    img.etalage_source_image(src='./images/hacker.png') 

          div.sideright Nama Anggota
            h2.tim Kenny [15.111.1968]
            
            h2.tim Surya Imran Halim [15.111.1348]
            
            h2.tim Edwin [15.111.0466]

            h2.tim Felix [15.111.1763]

          row.edu 2017

        section
          h2 Touch Interaction
          h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

        section
          h2 Responsive Slides
          h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

        section
          h2 Bullet List
          h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
          ul
            li Bullet 1
            li Bullet 2
            li Bullet 3

        section
          h2 Syntax Highlighting
          h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
          pre
            code.language-javascript.
              bespoke.from('article', [
                classes(),
                keys(),
                touch(),
                bullets('li, .bullet')
              ]);

        section(data-bespoke-hash='named-route')
          h2 Named Route
          h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
          p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2 Emphatic Slide!
          h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

        section
          h2.bullet Just the beginning...
          br
          ul
            li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
            li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
            li Edit JavaScript in <em>'src/scripts/main.js'</em>
          br
          ul
            li
              strong Enjoy! :)
              a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
    script(src='build/jquery.js')
    script(src='build/bootstrap.min.js')
    script(src='build/jquery.etalage.min.js')

    script.
      jQuery(document).ready(function($){
      $('#etalage').etalage({
      thumb_image_width: 150,
      thumb_image_height: 200,
      show_hint: true,
      click_callback: function(image_anchor, instance_id){
      alert('Callback example:\\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
      }
      });
      // This is for the dropdown list example:
      $('.dropdownlist').change(function(){
      etalage_show( $(this).find('option:selected').attr('class') );
      });
      });